/*
 * Main Container for the ReTwit Widget
 */
.retwit__widget {
  font-family: "Roboto ", sans-serif;
  font-size: 14px;
  color: #212121;
  line-height: 1.4;
  background-color: #E1F5FE;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  display: inline-block;
  padding: 16px 0px 0px 16px;
  margin: 32px auto;
  align-content: center;
  width: 980px;
  /*
   * Single Tweet container
   */
}
.retwit__widget * {
  box-sizing: content-box !important;
}
@media screen and (max-width: 768px) {
  .retwit__widget {
    width: calc(100% - 16px);
    height: auto;
  }
}
.retwit__widget .tweet {
  background-color: #FAFAFA;
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  display: inline-grid;
  margin: 0px 16px 16px 0px;
  position: relative;
  width: calc(50% - 19px);
  height: 169px;
  padding: 0px;
  /*
   * User bar of a tweet container
   */
}
@media screen and (max-width: 768px) {
  .retwit__widget .tweet {
    width: calc(100% - 16px);
    height: auto;
  }
}
.retwit__widget .tweet a {
  font-family: "Roboto ", sans-serif;
  color: #1A237E;
  text-decoration: none;
}
.retwit__widget .tweet a:hover {
  color: #3F51B5;
}
.retwit__widget .tweet .user {
  background-color: #42A5F5;
  margin-bottom: 0px;
  width: 100%;
  height: 79px;
  display: flex;
}
.retwit__widget .tweet .user .user__image {
  padding: 16px;
  width: 48px;
}
.retwit__widget .tweet .user .user__image img {
  border-radius: 50%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
.retwit__widget .tweet .user .user__name {
  padding: 0px;
  color: #FAFAFA;
  width: calc(100% - 79px);
  height: 100%;
}
.retwit__widget .tweet .user .user__name h2 {
  font-family: "Roboto ", sans-serif;
  font-size: 1.5em;
  margin-top: 17px;
  margin-bottom: 0px;
}
.retwit__widget .tweet .user .user__name a {
  color: #EEEEEE;
}
.retwit__widget .tweet .user .user__name a:hover {
  color: #E0E0E0;
}
.retwit__widget .tweet .user .user__name span {
  font-family: "Roboto ", sans-serif;
  font-size: small;
}
.retwit__widget .tweet .tweet__text {
  padding: 16px;
}
.retwit__widget .tweet:hover {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

/*# sourceMappingURL=style.css.map */
