$base-font-family: 'Roboto ', sans-serif;
$base-font-size: 14px;

// Material Design colors
$blue-400: #42A5F5;
$blue-900: #0D47A1;
$light-blue-50: #E1F5FE;
$light-blue-100: #B3E5FC;

$indigo-900: #1A237E;
$indigo-500: #3F51B5;

$blue-gray-900: #263238;

$gray-50: #FAFAFA;
$gray-200: #EEEEEE;
$gray-300: #E0E0E0;

/*
 * Main Container for the ReTwit Widget
 */
.retwit__widget {

    font-family: $base-font-family;
    font-size: $base-font-size;
    color: #212121;
    line-height: 1.4;
    background-color: $light-blue-50;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    display: inline-block;
    padding: 16px 0px 0px 16px;
    margin: 32px auto;
    align-content: center;
    * {
        box-sizing: content-box !important;
    }
    width: 980px;
    @media screen and (max-width: 768px) {
        width: calc(100% - 16px);
        height: auto;
    }

    /*
     * Single Tweet container
     */
    .tweet {
        // Tweet container look and feel
        background-color: $gray-50;
        border-radius: 2px;
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
        transition: all 0.3s cubic-bezier(.25,.8,.25,1);
        // Positioning and sizing
        display: inline-grid;
        margin: 0px 16px 16px 0px;
        position: relative;
        width: calc(50% - 19px);
        height: 169px;
        padding: 0px;
        @media screen and (max-width: 768px) {
            width: calc(100% - 16px);
            height: auto;
        }

        // Links
        a {
            font-family: $base-font-family;
            color: $indigo-900;
            text-decoration: none;
        }
        a:hover {
            color: $indigo-500;
        }

        /*
         * User bar of a tweet container
         */
        .user {
            background-color: $blue-400;
            margin-bottom: 0px;
            width: 100%;
            height: 79px;
            display: flex;

            // User avatar
            .user__image {
                padding: 16px;
                width: 48px;
                img {
                    border-radius: 50%;
                    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
                }
            }

            // User name and profile link
            .user__name {
                padding: 0px;
                color: $gray-50;
                width: calc(100% - 79px);
                height: 100%;
                h2 {
                    font-family: $base-font-family;
                    font-size: 1.5em;
                    margin-top: 17px;
                    margin-bottom: 0px;
                }
                a {
                    color: $gray-200;
                }
                a:hover {
                    color: $gray-300;
                }
                span {
                    font-family: $base-font-family;
                    font-size: small;
                }
            }
        }

        // Actual tweet's text
        .tweet__text {
            padding: 16px;
        }
    }

    // Material Design animation styling
    .tweet:hover {
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    }


}
